.filter-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .filter-component {
    z-index: 1000;
    margin-top: 50px;
  }
  
  .container-search-box {
    background: #fff;
    border-radius: 40px;
    width: 35%;
    padding: 10px;
    display: flex;
  }
  
  .search-box-button {
    color: #7d7d7d;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .search-box-input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    display: inline-block;
  }
  
  .search-box-input::placeholder {
    color: #7d7d7d;
  }
  .container-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .checkbox-col1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-right: 2px solid #ffffff;
  }
  
  .checkbox-col1-cat {
    margin-right: 10px;
    color: #fff;
  }
  
  .checkbox-col2-select {
    margin-left: 10px;
  }
  
  .checkbox-col1-cat > input {
    margin-right: 5px;
  }
  
  /* SELECT BOX */
  
  .checkbox-col2-select > select {
    display: block;
    border: none;
    outline: none;
    border-radius: 20px;
    background: none;
    font-size: 15px;
    color: #fff;
  }
  
  .sort-options {
    color: black;
  }
  
  
  /* RESPONSIVE */ 
  
  @media screen and (max-width: 768px) {
    .container-search-box {
      width: 80%;
    }
  
    .checkbox-col2-select {
      margin-left: 0px;
      margin-top: 10px;
    }
  
    .checkbox-col1-cat {
      margin-right: 5px;
    }
  
    .container-checkbox {
      flex-direction: column;
    }
  
    .checkbox-col1 {
      border: none;
    }
  }
  