.cocktailPage-container {
  background-color: lightgreen;
  display: flex;
  width: 80%;
  min-height: 730px;
  margin: 20px;
  box-shadow: 4px 6px 8px -4px rgba(0, 0, 0, 0.77);
}

.cocktailPage-right-container-blockInfo {
  display: flex;
  height: 100%;
}

.cocktailPage-left-container {
  min-width: 35%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cocktailPage-right-container {
  background-color: white;
  width: 100%;
  overflow-y: hidden;
}

.cocktailPage-right-container-ingredients {
  background-color: #7e28001a;
  width: 45%;
  color: #8c9599;
}

.cocktailPage-right-container-desc {
  background-color: #ffffff;
  width: 55%;
  color: #8c9599;
}

/* HEADER */

.cocktailPage-right-container-header {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 120px;
  padding: 15px 30px;
}

.cocktailPage-right-container-header-row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.cocktailPage-right-container-header-row1 > h2 {
  color: #f5926d;
  font-size: 40px;
  font-variant: small-caps;
}

.cocktailPage-right-container-header-row1 > p {
  color: #889296;
  font-size: 20px;
}

.cocktailPage-right-container-header-cat {
  display: flex;
}

.cocktailPage-right-container-header-row1 > p > span {
  color: #c25674;
}

.cocktailPage-right-container-desc {
  padding: 20px 20px 20px 20px;
}

/* INGREDIENTS */

.cocktailPage-ingredient-container-title,
.cocktailPage-desc-container-title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cocktailPage-ingredient-container {
  padding: 20px 0px 20px 20px;
}

/*DESCRIPTION*/

.cocktailPage-desc-container-text {
  text-align: justify;
}

/* NOTE MOYENNE */
.cocktailPage-left-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.cocktailPage-left-container-score {
  margin-bottom: 30px;
}

@media screen and (max-width: 1240px) {
  .cocktailPage-container {
    flex-direction: column;
  }

  .cocktailPage-left-container {
    height: 500px;
  }

  .cocktailPage-right-container-header {
    min-height: 85px;
  }

  .cocktailPage-right-container-blockInfo {
    flex-direction: column;
  }

  .cocktailPage-left-container {
    order: 2;
  }

  .cocktailPage-right-container-desc {
    width: 100%;
  }
  .cocktailPage-right-container-ingredients {
    width: 100%;
  }

  /* HEADER */
  .cocktailPage-right-container-header-row1 {
    margin-bottom: 8px;
  }
  .cocktailPage-right-container-header-row1 > h2 {
    font-size: 25px;
  }

  .cocktailPage-right-container-header {
    padding: 5px 10px;
  }

  .cocktailPage-right-container-header-row1 > p {
    font-size: 15px;
  }

  /*DESCRIPTION*/

  .cocktailPage-desc-container-text {
    padding: 0px 20px 20px 20px;
  }

  /* INGREDIENTS */
  .cocktailPage-ingredient-container,
  .cocktailPage-right-container-desc {
    padding: 5px;
  }

  .cocktailPage-ingredient-container-title,
  .cocktailPage-desc-container-title {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 11px;
    margin-top: 11px;
  }
}
