.homepage {
  display: grid;
  grid-template-columns: 1fr 30%;
}

.listBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
