.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}

.pagination-container ul {
  background-color: #F7946D;
  height: 70px;
  padding: 0 25px;
  border-radius: 35px;
}

.wrapper-link {
  display: flex;
}

.page-link {
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 70px;
}

.page-link:hover, .page-link:active {
  background-color: white;
  color:#F7946D ;
  padding: 10px;
  border-radius: 20px;
}



.page-item{
  margin: 0px 5px;
}
