.cocktailbox {
  border: 1px solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
}

.cocktailbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-col-desc {
  text-align: justify;
}

.container-col-img {
  margin: 20px;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.65);
}

.container-col-img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cocktail-box-container-row {
  display: flex;
  flex-direction: row;
}

.container-col-desc {
  padding: 20px;
}

.cocktailbox-button {
  background-image: linear-gradient(
    to right,
    #bb4e75 0%,
    #ff9d6c 51%,
    #bb4e75 100%
  );
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: flex;
  border: none;
  outline: none;
}

.cocktailbox-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cocktailbox {
    width: 100%;
  }
}
