* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background-image: linear-gradient(135deg, #bb4e75 10%, #ff9d6c 100%);
}

.navbar-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500; /*400= normal 500=medium 700=bold*/
  text-transform: uppercase;
  color: var(--bg-color-items);
}
.navbar-logo:hover{
  color:var(--filter-box-font-color-hover);
}

.navbar-logo > i {
  margin: 5px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  /**width: 32%;**/
  color: var(--bg-color-items);
}

.navbar-links li:first-child {
  display: none;
}

.navbar-links a {
  font-size: 18px;
  font-weight: normal;
  margin-right: 40px;
}

.navbar-links li > .fas {
  font-size: 22px;
  margin-right: 10px;
}

.navbar-links li:hover {
  cursor: pointer;
  color:var(--filter-box-font-color-hover);
}

.navbar-burger {
  font-size: 28px;
  color: var(--bg-color-items);
  display: none;
  cursor: pointer;
}

/*RESPONSIVE*/
@media screen and (max-width: 1024px) {
  .navbar-burger {
    display: block;
  }

  .navbar-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 10vh;
    right: 0;
    height: 100vh;
    background-image: linear-gradient(135deg, #bb4e75 10%, #ff9d6c 100%);
    padding-top: 40px;
    width: 45%;
    transform: translateX(500px);
    transition: 0.5s ease-in-out;
  }

  .navbar-links li:first-child {
    display: initial;
  }

  .navbar-links li {
    display: flex;
    flex-direction: row;
    padding: 25px;
    border-bottom: 1px solid #ccc;
  }

  .navbar-links > li > a {
    display: inline-block;
    overflow: visible;
  }

  .navbar-links > li:nth-child(2) {
    line-height: 26px;
  }

  .navbar-links > li > i {
    overflow: visible;
  }

  .navbar-links li:last-of-type {
    border-bottom: 0px solid #f1f2f6;
  }

  .navbar-links a:hover {
    border-bottom: 0px solid #f1f2f6;
  }
}
