.footer {
  margin-top: 100px;
  background-image: url(../../assets/imgs/footer.svg);
  background-size: cover;
  height: 300px;
}

.background-deco {
  position: fixed;
  background-image: url(../../assets/imgs/deco.svg);
  background-size: cover;
  height: 450px;
  width: 750px;
  bottom: -17px;
  right: 0;
  z-index: -100;
}

@media screen and (max-width: 768px) {
  .background-deco {
    height: 240px;
    width: 385px;
  }
}
