a {
  text-decoration: none;
}

li {
  list-style-type: none;
  text-transform: uppercase;
}

.navbar {
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
}
.navbar-navlinks {
  display: flex;
  flex-direction: row;
}

.navbar-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500; /*400= normal 500=medium 700=bold*/
  text-transform: uppercase;
  color: var(--bg-color-items);
}

.navbar-navlinks {
  display: flex;
  color: var(--bg-color-items);
}

.navbar-navlinks a {
  font-size: 24px;
  font-weight: normal;
  margin-right: 40px;
}

.navbar-navlinks li > .fas {
  font-size: 24px;
  margin-right: 10px;
}

.btn-bars{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--bg-color-items);
  cursor: pointer;
  display: none;
}


@media screen and (max-width: 768px) {
  .btn-bars{
    display: block;
  }
  .navbar-navlinks{
    display: none;
  }

}
