* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cocktailFilterBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 35px 0px;
}

.cocktailFilterBar > h2 {
  text-transform: uppercase;
  font-size: 22px;
  color: var(--filter-box-font-color);
}

.filter-button {
  background-image: linear-gradient(
    to right,
    #bb4e75 0%,
    #ff9d6c 51%,        
    #bb4e75 100%
  );
}
.filter-button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  
  border-radius: 10px;
  display: block;
  border: none;
  outline:none;
}

.filter-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none; 
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
}